version: "3.8"
services:
  adminer:
    image: adminer
    container_name: adminer_flask-video
    ports:
      - 8081:8080
    networks:
      - videoapp
  
  dbapp:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    # ports:
    #  - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: comunidb
      #MYSQL_USER: comuniuser
      MYSQL_HOST: dbapp
        #    volumes:
#      - ./db:/docker-entrypoint-initdb.d/:ro
#- ./rinnovi.db:/docker-entrypoint-initdb.d/init.sql
    networks:
      - videoapp
    


  app:
    build: ./app
    #image: alulim/flasklinef:0.4
    container_name: flaskVideoApp 
    ports:
      - "5000:5000"
      #- "127.0.0.1:5000:5000"
    
    # volumes:
    #   - ./app:/opt/app
    
    environment:
      MYSQL_DATABASE: comunidb
      #MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        #MYSQL_DATABASE: ${MYSQL_DATABASE}
      # MYSQL_USER: ${MYSQL_USER}
      
      MYSQL_HOST: dbapp
      MYSQL_PORT: 3306
    depends_on:
      - dbapp
    # command: ls
    # command: /opt/app/wait.sh 
    # command: gunicorn -b 0.0.0.0:5000 wsgi:app
    networks:
      - videoapp



networks:
  videoapp:
