
<form class="row form-inline mb-3" action="/sezioni" method="POST" enctype="multipart/form-data">

    <div class="col-sm mt-2  form-group" >

    

    <label class="col-sm-1 mt-2" for="mensilita" >Quota:</label>
      <input class="form-control col-sm-2 mt-2" type="text" id="mensiita" name="nome" placeholder="Inserisci nome sezione">
      <div class="col-sm-2 mt-2">
      <button  type="submit" class="btn btn-primary">Add</button>
    </div>
  

  <!-- <div calss="my-2">
    <button type="submit" class="btn btn-primary mx-4">Add</button>
  </div>
  <input type="number" step="any" name="mensilita" min="0"/>

</div> -->
  </div>
  </form>