@import url('https://fonts.googleapis.com/css?family=Dosis:600,800');
 * {
	 box-sizing: border-box;
}
 body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 min-height: 100vh;
	 font-family: 'Dosis', sans-serif;
	 color: #3f3c3c;
}
 .site-logo {
	 display: fixed;
	 align-items: center;
	 transform: translateZ(0) translateX(-8px);
	 
}
 [id="logo"] {
	 
	 position: relative;
	 flex: 0 0 3.75rem;
	 width: 3.75rem;
	 z-index: 2;
}
 [id="logo"] polygon {
	transform: translateY(30);
	 transform-origin: 50%;
}
 [id="logo"] circle {
	 transform-origin: 80% 80%;
}
 .site-title {
	 margin-top: 8.25rem;
	 position: absolute;
	 overflow: hidden;
	/*margin-left: rem(-24);
	*/
	 z-index: 1;
	 transform: translateZ(0);
}
 .site-title-text {
	/*padding: rem(4) rem(6) rem(4) rem(28);
	*/
	 color: #3f3c3c;
	 font-size: 3.5rem;
	 font-weight: 800;
}
 .site-title-text span {
	 margin-left: 0.015625rem;
	 color: #00b4ff;
}
 .button-restart {
	 position: fixed;
	 bottom: 1.5rem;
	 padding: 0.375rem 1.5rem 0.5rem 1.5rem;
	 font-family: 'Dosis', sans-serif;
	 font-size: 0.875rem;
	 font-weight: 600;
	 letter-spacing: 0.03125rem;
	 outline: none;
	 cursor: pointer;
	 color: #00b4ff;
	 background-color: transparent;
	 border: 0.125rem solid #00b4ff;
	 border-radius: 0.125rem;
	 transition: color 0.2s ease-out, transform 0.2s ease-out;
}
 .button-restart:after {
	 content: '';
	 position: relative;
	 top: -0.125rem;
	 left: -0.125rem;
	 pointer-events: none;
	 width: 100%;
	 height: 100%;
	 border: 0.125rem solid #3f3c3c;
	 transform: translate(0.25rem, 0.25rem);
	 opacity: 0;
	 transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
 .button-restart:hover {
	 color: #3f3c3c;
	 transform: translateY(-0.125rem);
}
 .button-restart:hover:after {
	 opacity: 1;
	 transform: translate(0, 0);
}
 .button-restart:active {
	 transform: translateY(-0.0625rem);
	 transition-duration: 0s;
}
 